extends _layout/layout.pug
block main 
    h2 This is my home
    p (Est et ex aliqua quis magna mollit nostrud ex culpa non proident. Mollit reprehenderit id do quis veniam magna in est id laborum cillum sunt quis Lorem. Pariatur enim duis sit aute. Aute sunt dolor commodo anim minim.)